/*Variables*/
:root{
    --green: rgb(0, 161, 27);
    --cyan: rgb(141, 255, 255);
    --orange: rgb(229, 155, 36);
    --pink: rgb(222, 89, 124);
    --gray: rgb(90, 90, 90);
    --white: white;
    --dark: rgb(26, 31, 28);
}
/*** Global Styles ***/
.hide{
    display: none;
}

.container{
    grid-area: body;
}

body{
    color: var(--white);
    margin: .5rem;
    background-color: var(--cyan);
    display: grid;
    grid-template-areas:   
        'left header right'
        'left body right'
        'left footer right';
        grid-template-columns: 1fr 2fr 1fr;
        gap: 1.5rem;
        grid-template-rows: 270px 1fr 3rem;

}

ul a{
    color: var(--gray);
    display: inline-block;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 5px 0px;
}

p a{
    color: var(--white);
    font-weight: bold;
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}

ul a:hover{
    transform: scale(1.15);
}

header{
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
}

footer{
    flex-direction: column;
    justify-content: center;
    grid-area: footer;
}

header, footer{
    display: flex;
    color: var(--dark);
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}
footer ul{
    display: flex;
    justify-content: space-between;
}

li{
    padding: 4px;
    list-style-type: none;
}
.collapser{
    display: none;
}

.additional-nav:hover .collapser{
    display: inline;
}

/*** Home Styles ***/
.main{
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid 3px var(--gray);
    border-radius: 5px;
}

.welcome h1{
    font-size: 2.5rem;
    color: white;
}

.welcome p{
    color: white;
    font-size: 1.5rem;
}

#logoheader{
    background-image: url(../images/logo1resize.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
}

/*** Services Styles***/
.services-header{
    font-size: 2.5rem;
    text-decoration: underline;
}

.services-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

table{
    border: solid 3px var(--dark);
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

tr{
    border-bottom: solid 3px var(--dark);
}

th{
    padding: 10px;
}

img, table{
    margin-bottom: 2rem;
}

th{
    text-wrap: wrap;
}

table caption{
    font-size: 2rem;
}

tfoot td{
    text-align: right;
    font-size: smaller;
    padding-right: .5rem;
}

/****Gallery****/
.gallery{
    background-color: var(--pink);
    grid-area: body;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gallery img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.gallery div{
    margin: 10px;;
    max-height: 300;
    max-width: 300;
    border: solid 3px black;
}

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    justify-content: center;
}

#display{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.displayedimage{
    position: fixed;
    max-width: 40%;
    max-height: 90%;
}

.close{
    font-family: sans-serif;
    color: var(--cyan);
    width: 100%;
    text-align: right;
    font-size: 5rem;
    position: relative;
}
.close span{
    cursor: pointer;
}

.displayedimage img{
    border: solid 3px var(--orange);
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px var(--orange);
    max-width: 100%;
    max-height: 100%;
}
/*** About Us ***/
.about-us-container{
    max-width: 50%;
}

.about-us-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: large;
}


/*** Font Awesome ***/
.fa{
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}
