{%extends "base.html" %}
{% block title %}About Us{%endblock%}
{% block container %}
    <!-- 3 option selection panel-->
    <div class="main">
        <h1 class="services-header">About Us</h1>
        <div class="about-us-main">
            <!--<img src="./images/raynbowlogofirst.jpg" height="150" alt="logo">-->
            <img src="../static/images/owner.jpg" width="300px">
            <div class="about-us-container">
                <p>
                    Hi. My name is Rayn Eckard and I run Raynbow Paws Grooming. I have been grooming for 12 years and love what I do.
                </p>
                <p>
                    I was trained at Club Kanine in Granite Falls, NC and I have owned and operated my own grooming business since 2015.
                </p>
                <p>
                    I have 8 dogs of my own:
                </p>
                <ul>
                    <li>3 English Cream Golden Retrievers: Xayah, Percy, and Sage</li>
                    <li>2 Catahoula mixes: Danaerys and Murdock</li>
                    <li>2 Shih Tzus: Barnabas and Oscar</li>
                    <li>and a Cairn Terrior mix named Sherlock</li>
                </ul>
            </div>

        </div>

    </div>

{%endblock%}