{% extends "base.html" %}
{% block title %} Raynbow Paws Grooming {% endblock %}

    <!-- 3 option selection panel-->
    {% block container %}
        <div class="main">
            <div class="welcome">
                <h1>Welcome!</h1>
                <p>We are excited to serve the Lenoir, Caldwell County area for all it's grooming needs!</p>
                <p>We are currently available for grooming dogs of all sizes.</p>
                <p>Make an <a href="./appointments.html">appointment</a> today!</p>
            </div>
        </div>
    {% endblock %}

    <!-- Additional links/content-->
    <div>

    </div>